@page "/list"
@using contacts.Client.Services
@using contacts.Shared
@inject IContactService ContactService

<div>
    <h3>Contact List</h3>
    <ul>
        @foreach (var contact in _contacts)
        {
            <li>
                @contact.FirstName @contact.LastName @contact.Email
            </li>
        }
    </ul>
</div>


@code {
    private IEnumerable<BriefContact> _contacts;
    
    protected override async Task OnInitializedAsync()
    {
        _contacts = await ContactService.GetContacts();
    }
}