@inject ILogger<ContactDetails> Logger
@page "/SuperSecretPage"
<h3>SuperSecretPage</h3>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async void OnInitialized()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Logger.LogInformation($"User {user.Identity.Name} is authenticated.");
        }
        else
        {
            Logger.LogInformation("User is NOT authenticated.");
        }
    }

}